.featured{
    margin: 100px 20px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        // background-color: rgba(16, 105, 199, 0.771);
        padding-left: 100px;
        padding-right: 100px;

        h1{
            flex: 2;
            text-transform: capitalize;
        }

        p{
            flex: 3;
            color: #777;
        }
    }

    .bottom{
        display: flex;
        justify-content: center;
        gap: 50px;

    }
}